<mat-card style="text-align: center; width: 300px; margin: auto; margin-top: 100px;">
    <mat-toolbar style="background-color: rgb(103, 65, 202); color: white">
        <h2 style="margin-left: 15px;"> New password </h2>
    </mat-toolbar><br><br>
    <form #formVal="ngForm">
        <mat-form-field>
           <input type="email" placeholder="Email" matInput #emailVal="ngModel" required name="emailF" [(ngModel)]="email" email>
           <mat-hint *ngIf="emailVal.touched && emailVal.invalid" style="color:red;">Required field!</mat-hint>
        </mat-form-field>
         <br><br>
        <mat-form-field>
           <input 
            matTooltip="Password must be between 8 and 16 characters; 
            must contain at least one lowercase letter, 
            one uppercase letter, one numeric digit, and one special character, 
            but cannot contain whitespace"
            type="password" placeholder="New password" matInput #passwVal="ngModel" 
            required name="passwordF" [pattern]="patternPassword" [(ngModel)]="password">
           <mat-hint *ngIf="passwVal.touched && passwVal.invalid" style="color:red;">Required field!</mat-hint>
        </mat-form-field> 
          <br><br>
        <mat-form-field>
            <input type="password" placeholder="Repeat new password" matInput #repeatPasswVal="ngModel" required name="repeatPasswordF" [pattern]="patternPassword" [(ngModel)]="repeatPassword">
            <mat-hint *ngIf="repeatPasswVal.touched && repeatPasswVal.invalid" style="color:red;">Required field!</mat-hint>
        </mat-form-field>
         <br><br>
        <button [disabled]="formVal.invalid || disableButton == true" mat-raised-button (click)="newPassword()" style="background-color: rgb(103, 65, 202); color: white; outline: none;"> Submit </button>
    </form><br><br>
    <div *ngIf="!validationBool" class="error"> <mat-icon>error</mat-icon> {{validationString}} </div>
</mat-card>

<router-outlet></router-outlet>
