<mat-toolbar id="menu">
  <button mat-icon-button id="menuButton" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
  </button>
        <mat-menu #menu>
          <button mat-menu-item routerLink="/home" class="podDugme">
            <mat-icon class="podDugmeIcon">home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item routerLink="/lockedPage" class="podDugme">
            <mat-icon class="podDugmeIcon">home</mat-icon>
            <span>Locked page</span>
          </button>
          <button *ngIf="!authService.loggedIn()" mat-menu-item class="podDugme" (click)="register()">
            <mat-icon class="podDugmeIcon">account_circle</mat-icon>
            <span>Sign up</span>
          </button>
          <button *ngIf="!authService.loggedIn()" mat-menu-item class="podDugme" (click)="logIn()">
            <mat-icon class="podDugmeIcon">account_circle</mat-icon>
            <span>Sign in</span>
          </button>
          <button *ngIf="authService.loggedIn()" mat-menu-item class="podDugme" (click)="authService.logOut()">
            <mat-icon class="podDugmeIcon">account_circle</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
  
     <div id="levi">
          <button mat-icon-button class="dugme" routerLink="/home"><mat-icon>home</mat-icon></button>
          <button mat-button class="dugme" routerLink="/lockedPage">Locked page</button>
     </div>
     <div id="desni">
          <button *ngIf="!authService.loggedIn()" mat-raised-button id="dugme1" routerLink="/registration">Sign up</button>
          <button *ngIf="!authService.loggedIn()" mat-button class="dugme" style="border-radius: 5px;" routerLink="/login">Sign in</button>
          <button *ngIf="authService.loggedIn()" mat-icon-button class="dugme" 
          (click)="cmr()">
               <mat-icon>account_circle</mat-icon>
          </button>
     </div>
  </mat-toolbar>
  
  <!--
      <mat-toolbar id="donji"></mat-toolbar>
  -->
  
  <router-outlet></router-outlet>

