 #menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-color: white;
    box-shadow: 2px 2px 12px lightgray;
    /*
    background-color: rgb(254, 192, 6); 
    box-shadow: 1px 1px 12px rgb(152, 125, 3);

    background-color: rgb(103, 59, 183);
    box-shadow: 1px 1px 12px rgb(62, 38, 91);
    */
  }
  #levi {
    position: absolute;
    left: 23px;
    top: 10px;
  }
  #desni {
    position: absolute; 
    right: 30px; 
    top: 10px;
  }
  #donji {
    position: absolute;
    top: 57px; 
    left: 0; 
    right: 0; 
    color: white; 
    height: 130px; 
    background-color: rgb(60, 60, 60);
  }
  
  .dugme, #dugme1{
    font-weight: 700; 
    font-size: 13px; 
    outline: none; 
    color: rgb(60, 60, 60);
    background-color: white;
  }
  
  #dugme1 {
    border-radius: 5px;
    margin-right: 7px;
  }
  
  #menuButton {
    display: none;
  }
  
  .podDugme {
    outline: none;
    color: rgb(60, 60, 60);
  }
  
  .podDugmeIcon {
    margin-right: 10px;
    color: rgb(60, 60, 60);
  }
  
  .podDugme span {
    font-size: 12px;
    font-weight: 700;
    margin-right: 2px;
  }
  
  @media(max-width: 560px) {
  
    .dugme, #dugme1 {
        display: none;
    }
    
    #menuButton {
        display: inline;
        outline: none;
    }
  
  }